<h1>Posts</h1>

<ul class="listing">
<% @posts.each do |post| %>
  <li>
    <div>
      <b><%= post.title %></b>
    </div>
    <% if post.content %>
      <div>
        <%= post.content %>
      </div>
    <% end %>
    <%= link_to 'Show', post, class: 'button button-outline' %><%= link_to 'Edit', edit_post_path(post), class: 'button button-outline' %><%= button_to 'Destroy', post, data: { confirm: 'Are you sure?' }, method: :delete, class: 'button button-outline' %>
  </li>
<% end %>
</ul>

<hr/>

<div>
  <%= link_to 'New', new_post_path, class: 'button button-outline' %>
</div>
